<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dashboard</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h3>Clientes Cadastrados</h3>
        <h4><%= @customers.count %></h4>
      </div>
      <div class="col-md-6">
        <h3>Vendas nesse mês</h3>
        <h4><%= @sales.count %></h4>
        <h4>Valor total: <%= number_to_currency(@sales.sum(:total)) %> </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Próximos Recebimentos</h3>
        <div class="boletos">
          <table class="table table-striped">
            <thead>
              <th>SO</th>
              <th>Cliente</th>
              <th>Valor</th>
              <th>Data de vencimento</th>
            </thead>
            <tbody>
              <% @receipts.each do |b| %>
              <tr class="clickable-row<%= ' vencido' if b.due_date < Date.today %>" data-href="<%= sale_path(b.order) %>" data-toggle="tooltip" data-placement="top" title="<%= 'Vencido' if b.due_date < Date.today %>">
                <td>SO<%= b.order.id %></td>
                <td><%= b.order.customer.name %></td>
                <td><%= number_to_currency b.value %></td>
                <td><%= l b.due_date, format: :default %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
