<h4>Olá, <%= @user.name %></h4>
<p>Seja bem-vindo ao sistema da CASA de 28</p>
<p>Você pode acessar o sistema através do link abaixo:</p>
<%= link_to @link, @link %>
<p><strong>E-mail:</strong> <%= @user.email %></p>
<p><strong>Senha:</strong> <%= @password %></p>
