<%= simple_form_for @user do |f| %>
<%= f.input :name %>
<%= f.input :email, required: true %>
<%= f.submit "Salvar Usuário", class: 'btn btn-success' %>
<%= link_to "Cancelar", users_path, class: 'btn btn-default' %>
<% end %>
