<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Usuários</h3>
  </div>
  <div class="panel-body">
    <% if @users.empty? %>
    <p>Não há usuários cadastradas</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td>
            <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_user_path(u) %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, user_path(u), method: :delete, data: {confirm: "Tem certeza que deseja excluir o usuário #{u.name}?"} if u != current_user %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
