<div class="panel panel-default">
  <div class="panel-heading">
    Editar Perfil
  </div>
  <div class="panel-body">
    <h5><strong>Nome:</strong> <%= @user.name %></h5>
    <p>Preencha abaixo para trocar sua senha</p>
    <%= simple_form_for @user, url: update_password_users_path do |f| %>
    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Salvar", class: 'btn btn-default' %>
    <% end %>
  </div>

</div>
