<%= simple_form_for @cost do |f| %>
<%= f.input :name %>
<%= f.input :value, input_html: {class: "money", value: @cost.value.quantia}, as: :string %>
<%= f.input :cost_type, collection: Cost.cost_types.keys %>
<%= f.submit "Salvar Custo", class: 'btn btn-success' %>
<%= link_to "Cancelar", costs_path, class: 'btn btn-default' %>
<% end %>
