<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Custos</h3>
  </div>
  <div class="panel-body">
    <% if @costs.empty? %>
    <p>Não há custos cadastrados</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor Mensal</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <% @costs.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= number_to_currency(c.value)%></td>
          <td><%= c.cost_type %></td>
          <td>
            <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_cost_path(c) %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, cost_path(c), method: :delete, data: {confirm: "Tem certeza que deseja excluir o custo #{c.name}?"} %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td><b>Total</b></td>
          <td><strong><%= number_to_currency @costs.sum(:value) %></strong></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
