<div class="contact form-inline nested-fields" id="container">
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone, input_html: {class: 'phone'} %>
  <%= f.input :area, collection: Contact.areas.keys[0...-1].sort.push("Outro").collect {|a| [t("areas.#{a.downcase}"), a]} %>
  <%= link_to_remove_association t("forms.remove_contact"), f %>
</div>
