<%= simple_form_for @customer, :html => { :multipart => true, class: I18n.locale } do |f| %>
<div class="avatar" style="background-image: url('<%= @customer.avatar.url(:medium) %>')">
</div>
<%= f.input :avatar, input_html: {id: 'input_avatar'} %>
<%= f.input :pj, collection: Customer.pjs.keys.collect {|a| [t("forms.#{a.downcase}"), a]}, as: :radio_buttons, label: "", checked: @customer.pj %>
<div class="row">
  <div class="col-md-6">

    <%= f.input :name %>
    <div id="pf_fields">
      <%= f.input :cpf, input_html: {class: 'cpf'} %>
      <% if I18n.locale == "pt" %>
      <%= f.input :rg %>
      <% end %>
    </div>
    <div id="pj_fields">
      <%= f.input :razao_social %>
      <%= f.input :cnpj, input_html: {class: 'cnpj'} %>
      <% if I18n.locale == "pt" %>
      <%= f.input :inscricao_municipal %>
      <%= f.input :inscricao_estadual %>
      <% end %>
    </div>
    <%= f.input :email %>
    <%= f.input :phone, input_html: {class: 'phone'} %>
  </div>
  <div class="col-md-6">

    <%= f.input :country, collection: CS.countries.map{|key,value| [value,key]}, input_html: {id: 'country_select'} %>
    <%= f.input :state, as: :select, collection: [], input_html: {id: 'state_select', data: {state: @customer.state}} %>
    <%= f.input :city, as: :select, collection: [], input_html: {id: 'city_select', data: {city: @customer.city}} %>
    <%= f.input :zip_code, input_html: {class: 'cep'} %>
    <%= f.input :address %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t("forms.cts") %></h3>
  </div>
  <div class="panel-body">
    <p class="bg-warning"><%= t("forms.email_message") %></p>
    <div class="row">
      <div class="col-md-12">
        <%= f.simple_fields_for :contacts do |contact| %>
        <%= render 'contact_fields', f: contact %>
        <% end %>
        <div class="links">
          <%= link_to_add_association t("forms.add_contact"), f, :contacts, style: "display: block" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= f.submit t("forms.submit"), class: 'btn btn-success' %>
<%= link_to t("forms.cancel"), customers_path, class: 'btn btn-default' %>
<% end %>
