<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= (user_signed_in?)? "Editar Cliente" : t('forms.title') %></h3>
  </div>
  <div class="panel-body">
    <% if @customer.present? %>
    <%= render 'form' %>
    <% else %>
    <p>Esse link está expirado ou errado. Favor contatar a equipe da CASA</p>
    <% end %>
  </div>
</div>
