var options = {
  template: '<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>',
  placement: 'top',
  html: true,
  content: '<div class="input-group"><input type="text" class="form-control" value="<%= @link %>"><span class="input-group-btn"><button class="btn btn-primary copy-link" type="button"><i class="fa fa-copy"></i></button></span></div>'
}
var item = $(document).find("[data-id='" + <%= @customer.id %> + "']")
var link = $(item).find(".generate-link");

$('.popover').each(function(){
  $(this).popover('destroy');
})
$(link).popover(options);
$(link).popover('show');
$(item).find('.popover-content input').focus().select();
