<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clientes</h3>
  </div>
  <div class="panel-body">
    <% if @customers.empty? %>
    <p>Não há clientes cadastrados</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="10%"></th>
          <th width="5%">ID</th>
          <th>Nome</th>
          <th>Criado em</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |c| %>
        <tr data-id="<%= c.id %>">
          <td><%= image_tag c.avatar.url(:thumb) %></td>
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= l c.created_at, format: :date %></td>
          <td>
            <%= link_to "<i class='fa fa-link'></i>".html_safe, customer_generate_link_path(c), remote: true, method: :patch, class: "generate-link" %>
            <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_customer_path(c) %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, customer_path(c), method: :delete, data: {confirm: "Tem certeza que deseja excluir o cliente #{c.name}?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
