<%= simple_form_for @order do |f| %>
<span data-dollar="<%= @order.dollar %>" id="dollar"></span>
<%= f.association :customer %>
<%= f.association :user, selected: (@order.user.present?)? @order.user.id : current_user.id  %>
<%= f.input :expiration_date %>
<%= f.input :dollar, label: 'Dólar?' %>
<span id="hour-price" data-hour-price="<%= (@hourly).round(2) %>">Valor mínimo da hora: <%= number_to_currency @hourly %></span>
<%= f.input :hour_price, input_html: {id: 'hour-price1', class: "money", style: "width: 200px", value: @order.hour_price.quantia}, as: :string %>
<h4>Itens</h4>
<div class="items">
<%= f.simple_fields_for :order_items do |item| %>
<%= render 'order_item_fields', f: item %>
<% end %>
<div class="links">
<%= link_to_add_association 'Adicionar Item', f, :order_items, style: "display: block" %>
<%= f.input :tax, label: 'Incluir imposto no orçamento? (ISS 9%)' %>
<%= f.input :show_item_price, label: 'Exibir o valor de cada item?' %>
<%= f.input :discount, collection: 0..20, include_blank: false, label: "Desconto (%)" %>
<%= f.input :total, as: :string, input_html:{ readonly: true, id: "total-order", style: "width: 200px"} %>
</div>
</div>
<%= f.input :observations %>
<%= f.input :payment_method, collection: (1..12).map {|p| ["#{p}x",p]} %>
<%= f.submit "Salvar Pedido", class: 'btn btn-success' %>
<%= link_to "Cancelar", orders_path, class: 'btn btn-default' %>
<% end %>
