<div class="order-item form-inline nested-fields" id="container">
  <%= f.input :name, label: false, placeholder: 'Nome' %>
  <%= f.input :description, label: false, placeholder: 'Descrição', input_html: {rows: 1, cols: 30} %>
  <%= f.input :quantity, label: false, placeholder: 'Qtd', input_html: {style:"width: 100px"} %>
  <%= f.input :hours, label: false, placeholder: 'Horas', input_html: {style:"width: 100px", class: 'item-hours'} %>
  <%= f.input :value, as: :string, label: false, placeholder: 'Valor', input_html: {style:"width: 150px", class: 'money item-price', readonly: true} %>
  <%= hidden_field_tag :value_hidden, nil, class: 'hidden_value' %>
  <%= link_to_remove_association "Remover Item", f %>
</div>
