<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cotações</h3>
  </div>
  <div class="panel-body">
    <% if @orders.empty? %>
    <p>Não há cotações cadastradas</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |o| %>
        <tr>
          <td><%= "SO#{o.id}" %></td>
          <td><%= o.customer.name %></td>
          <td><%= (o.dollar)? number_to_currency(o.total, unit: "US$") : number_to_currency(o.total) %></td>
          <td><%= l o.created_at, format: :short %></td>
          <td>
            <%= link_to "<i class='fa fa-eye'></i>".html_safe, order_path(o) %>
            <%= link_to "<i class='fa fa-download'></i>".html_safe, order_path(o, format: 'pdf'), target: '_blank' %>
            <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_order_path(o) %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, order_path(o), method: :delete, data: {confirm: "Tem certeza que deseja excluir a cotação SO#{o.id}?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
