<?xml version="1.0" encoding="utf-8" ?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Empréstimos">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Cliente</Data></Cell>
        <Cell><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell><Data ss:Type="String">Data</Data></Cell>
        <Cell><Data ss:Type="String">Valor</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.customer.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.created_at.strftime('%d/%m/%Y') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= (order.dollar)? number_to_currency(order.total, unit: "US$") : number_to_currency(order.total) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.status %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
