<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nova Cotação</h3>
  </div>
  <div class="panel-body" data-turbolinks="false">
    <%= render 'form' %>
  </div>
</div>
