<div class="casa-headings">
  <span><strong>CASA</strong>DE<strong>28</strong></span>
  <p>Razão Social: Figura de Linguagem Comunicação LTDA</p>
  <p>CNPJ: 20.700.998/0001-44</p>
  <p>R. França Pinto, 926, Vila Mariana - São Paulo - SP - 04016-004</p>
  <p>(11) 3522-4440 - fale@casade28.com.br</p>
</div>
<div class="customer-headings">
  <span><strong>Cliente:</strong></span>
  <p><%= @order.customer.name %></p>
  <% if @order.customer.razao_social.present? && @order.customer.pj == "Pessoa Jurídica" %>
  <p>Razão Social: <%= @order.customer.razao_social %></p>
  <% end %>
  <% if @order.customer.cnpj.present? && @order.customer.pj == "Pessoa Jurídica" %>
  <p>CNPJ: <%= @order.customer.cnpj %></p>
  <% end %>
  <% if @order.customer.cpf.present? && @order.customer.pj == "Pessoa Física" %>
  <p>CPF: <%= @order.customer.cpf %></p>
  <% end %>
  <% if @order.customer.address.present? %>
  <p><%= "#{@order.customer.address} - #{@order.customer.city} - #{@order.customer.state} - #{@order.customer.zip_code}" %></p>
  <% end %>
  <p><% if @order.customer.phone.present? %>(11) 3522-4440 <% end %><% if @order.customer.email.present? %> - fale@casade28.com.br<% end %></p>
</div>
<div class="order">
  <h2>Proposta <span class="order-no">#SO<%= @order.id %></span></h2>
  <table class="order-info">
    <thead>
      <tr>
        <td>Data da Proposta</td>
        <td>Proposta valida até</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= l @order.created_at, format: :date %></td>
        <td><%= l @order.expiration_date, format: :default %></td>
      </tr>
    </tbody>
  </table>
  <table class="order-items">
    <thead>
      <tr>
        <th width="23%">Nome</th>
        <th width="65%">Descrição</th>
        <th width="2%" style="padding-left: 5px;">Quantidade</th>
        <% if @order.show_item_price %>
        <th width="10%">Valor</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= simple_format item.description %></td>
        <td style="padding-left: 5px;"><%= item.quantity %></td>
        <% if @order.show_item_price %>
        <td>
          <% if @order.dollar %>
          <%= (@order.tax)? number_to_currency(item.value*1.09, unit: "US$") : number_to_currency(item.value, unit: "US$") %>
          <% else %>
          <%= (@order.tax)? (number_to_currency (item.value*1.09)) : (number_to_currency (item.value)) %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <tr >
        <td colspan="1"></td>
        <td colspan="3" class="order-total">
          <% if @order.discount > 0 %><p>Desconto: <%= @order.discount %>%</p><% end %>
          <p><strong>Total: <%= (@order.dollar)? number_to_currency(@order.total, unit: "US$") : number_to_currency(@order.total) %></strong></p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="observations">
    <span class="title">Observações</span>
    <%= simple_format @order.observations %>
  </div>
  <div class="payment_method">
    <span class="title">Forma de pagamento</span>
    <span class="payment"><%= "#{@order.payment_method}x de  #{(@order.dollar)? number_to_currency(@order.total/@order.payment_method, unit: "US$") : number_to_currency(@order.total/@order.payment_method)} - Boleto Bancário" %></span>
  </div>
  <div class="signatures">
    <div class="signature">
      <span><%= @order.customer.name %></span>
    </div>

    <div class="signature">
      <span><strong>CASA</strong>DE<strong>28</strong></span>
    </div>
  </div>
</div>
