<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">SO<%= @order.id %> - <%= @order.customer.name %></h3>
  </div>
  <div class="panel-body">
    <div class="order">
      <h2>Proposta <span class="order-no">#SO<%= @order.id %></span></h2>
      <table class="order-info">
        <thead>
          <tr>
            <td>Data da Proposta</td>
            <td>Proposta valida até</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= l @order.created_at, format: :date %></td>
            <td><%= l @order.expiration_date, format: :default %></td>
          </tr>
        </tbody>
      </table>
      <table class="order-items">
        <thead>
          <tr>
            <th width="23%">Nome</th>
            <th width="65%">Descrição</th>
            <th width="2%" style="padding-left: 5px;">Quantidade</th>
            <th width="10%">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= simple_format item.description %></td>
            <td style="padding-left: 5px;"><%= item.quantity %></td>
            <td>
              <% if @order.dollar %>
              <%= (@order.tax)? number_to_currency(item.value*1.09, unit: "US$") : number_to_currency(item.value, unit: "US$") %>
              <% else %>
              <%= (@order.tax)? (number_to_currency (item.value*1.09)) : (number_to_currency (item.value)) %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr >
            <td colspan="1"></td>
            <td colspan="3" class="order-total">
              <% if @order.discount > 0 %><p>Desconto: <%= @order.discount %>%</p><% end %>
              <p><strong>Total: <%= (@order.dollar)? number_to_currency(@order.total, unit: "US$") : number_to_currency(@order.total) %></strong></p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="observations">
        <span class="title">Observações</span>
        <%= simple_format @order.observations %>
      </div>
      <div class="payment_method">
        <span class="title">Forma de pagamento</span>
        <span class="payment"><%= "#{@order.payment_method}x de #{ (@order.dollar)? number_to_currency(@order.total/@order.payment_method, unit: "US$") : number_to_currency(@order.total/@order.payment_method)} - Boleto Bancário" %></span>
      </div>
    </div>
    <%= link_to "<i class='fa fa-check'></i> Confirmar venda".html_safe, confirm_sale_order_path(@order), method: :patch, class: 'btn btn-success', data: {confirm: "Tem certeza que deseja confirmar a venda SO#{@order.id}?"} %>
    <%= link_to "<i class='fa fa-thumbs-down'></i> Rejeitar venda".html_safe, reject_sale_order_path(@order), method: :patch, class: 'btn btn-warning', data: {confirm: "Tem certeza que deseja recusar a proposta SO#{@order.id}?"} if @order.status != "Declinada" %>
    <%= link_to "<i class='fa fa-download'></i> Download".html_safe, order_path(@order, format: 'pdf'), class: 'btn btn-default' %>
    <%= link_to "<i class='fa fa-trash'></i> Excluir".html_safe, order_path(@order), method: :delete, class: 'btn btn-danger', data: {confirm: "Tem certeza que deseja excluir a cotação SO#{@order.id}?"} %>
    <%= link_to "<i class='fa fa-edit'></i> Editar".html_safe, edit_order_path(@order), class: 'btn btn-default' %>
    <%= link_to "<i class='fa fa-arrow-left'></i> Voltar".html_safe, orders_path, class: 'btn btn-default' %>
  </div>
</div>
