<div class="session">
  <div class="form">
    <%= image_tag("logo-casa.png") %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "E-mail" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Login" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
