<style>

h3 {
  text-align: center;
}

.content-featured {
  color: #ffc200;
  font-weight: bold;
}
</style>

  <h3>Olá, <span class="content-featured"><%= @customer.name %>!</span></h3>
  <h4>Estamos enviando um lembrete sobre o pagamento que vence amanhã.</h4>
  <p>Embora já tenhamos enviado, anexo a esse e-mail você vai encontrar o boleto para o pagamento com vencimento no dia <span class="content-featured"><%= l @boleto.due_date, format: :short %>.</span></p>
  <p>Caso já tenha sido efetuado o pagamento, pedimos que desconsidere esse e-mail.</p>
