table img {
  width: 100%;
}

.contact {
  margin: 30px 0;

  .form-group {
    margin-right: 10px;
    label {
      margin-right: 5px;
    }
    .help-block {
      position: absolute;
    }
  }
  .links {
    margin-top: 20px;
  }

}

.bg-warning {
  padding: 10px;
  font-weight: bold;
}
