html, body {
  width: 100%;
  height: 100%;

  .clickable-row {
    cursor: pointer;
  }
}

.countries li a {
  padding: 15px 5px;
}


.table tr td{
  vertical-align: middle !important;
}

.table {
  a, a:hover, a:active, a:focus, a:visited {
    color: $main-color;
  }
}

.navbar-brand {
  padding: 0 15px;
  img {
    max-height: 100%;
  }
}

.items .order-item {
  margin: 5px 0;
}

.items .links {
  margin: 10px 0;
}

.order-item .form-group {
  vertical-align: top;
}

.order {
  margin-bottom: 20px;
  h2 {
    font-family: "Oswald" !important;
  }
  .order-no {
    font-family: "Oswald" !important;
    color: $main-color;
  }
  .order-info {
    font-size: 12px;
    line-height: 12px;
    thead {
      font-weight: bold;
    }
    td {
      padding-right: 10px;
    }
    margin-bottom: 30px;
  }

  .order-items {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 5px;
    thead tr th{
      border-bottom: 1px solid #4d4d4d;
      border-collapse:separate;
      border-spacing:5px 5px;
      padding-bottom: 5px;
    }

    .order-total {
      text-align: right;
    }

    td {
      vertical-align: top !important;
    }
  }


}


div.boletos {
  margin-top: 20px;
  tr.vencido {
    background-color: #e7cfcf;
  }

  .pago {
    background-color: #d1e7cf;
  }
}
