@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

.header-pdf {
  border-bottom: 1px solid #4d4d4d;
  text-align: right;
  height: 70px;
  img {
    height: 100%;
  }
  //margin-bottom: 50px;
}

.footer-pdf {
  padding-top: 5px;
  border-top: 1px solid #4d4d4d;
  font-size: 10px;
  .left {
    text-align: left;
    line-height: 12px;
    padding-top: 2px;
  }

  .center {
    text-align: center;
    span {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .right {
    padding-top: 2px;
    text-align: right;
    line-height: 12px;
  }
}


.container {
  margin-top: 50px;
  font-family: "Oswald";
  .casa-headings, .customer-headings {
    width: 350px;
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 0;
    span {
      font-size: 12px;
      line-height: 13px;
      margin: 0;
      font-family: "Oswald";
    }
    p {
      font-family: "Oswald";
      margin: 0;
      font-size: 12px;
      line-height: 13px;
      font-weight: 200;
    }
  }

  .order {
    h2 {
      font-family: "Oswald" !important;
    }
    .order-no {
      font-family: "Oswald" !important;
      color: $main-color;
    }
    .order-info {
      font-size: 12px;
      line-height: 12px;
      thead {
        font-weight: bold;
      }
      td {
        padding-right: 10px;
      }
      margin-bottom: 30px;
    }

    .order-items {
      width: 100%;
      font-size: 12px;
      line-height: 13px;
      text-align: left;
      border-collapse: separate;
      border-spacing: 0 5px;
      thead tr th{
        border-bottom: 1px solid #4d4d4d;
        border-collapse:separate;
        border-spacing:5px 5px;
        padding-bottom: 5px;
      }

      .order-total {
        text-align: right;
      }

      td {
        vertical-align: top !important;
      }
    }


    


  }

  .observations {
    width: 50%;
    font-size: 12px;
    line-height: 15px;
    margin-top: 50px;
    .title {
      width: 100%;
      display: block;
      border-bottom: 1px solid #4d4d4d;
      font-weight: bold;
    }
  }

  .signatures {
    width: 100%;
    text-align: center;
    .signature {
      padding-top: 100px;
      display: inline-block;
      width: 40%;
      height: 35px;
      margin: 3%;
      span {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 12px;
        border-top: 1px solid #4d4d4d;
      }

    }
  }

  .payment_method {
    width: 50%;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    .title {
      font-weight: bold;
      display: block;
    }
  }

}
