.session {
  width: 100%;
  height: 100%;
  background: $main-color;
  padding: 8% 0 0;

  .form {
    width: 360px;
    margin: auto;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    img {
      width: 270px;
      display: block;
      margin: 0 auto;
    }

    input {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }

    input[type="checkbox"]{
      width: auto;
      display: inline-block;
    }

    input[type="submit"]{
      text-transform: uppercase;
      outline: 0;
      background: $main-color;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }

    a {
      color: $main-color;
      font-size: 12px;
      text-decoration: none;
    }
  }

}
