<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="boletoModal">Editar Boleto</h4>
    </div>
    <%= simple_form_for [@order, @boleto], url: sale_boleto_path do |f| %>
    <div class="modal-body">

      <%= f.input :due_date %>
      <%= f.input :value, as: :string, input_html: {class: 'money item-price'} %>
      <%= f.input :payment_date %>

    </div>
    <div class="modal-footer">
      <%= f.submit "Salvar", class: "btn btn-success" %>

      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

    </div>
    <% end %>
  </div>
</div>
