<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vendas</h3>
  </div>
  <div class="panel-body">
    <% if @orders.empty? %>
    <p>Não há vendas</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |o| %>
        <tr>
          <td><%= "SO#{o.id}" %></td>
          <td><%= o.customer.name %></td>
          <td><%= number_to_currency o.total %></td>
          <td><%= l o.confirmed_at, format: :short %></td>
          <td>
            <%= link_to "<i class='fa fa-eye'></i>".html_safe, sale_path(o) %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, sale_path(o), method: :delete, data: {confirm: "Tem certeza que deseja excluir a venda SO#{o.id}?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
