<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= authenticated_root_path if user_signed_in? %>">
        <%= image_tag("logo-casa.png") %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><a href="<%= authenticated_root_path %>">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= customers_path %>">Lista</a></li>
            <li><a href="<%= new_customer_path %>">Novo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Custos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= costs_path %>">Lista</a></li>
            <li><a href="<%= new_cost_path %>">Novo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cotações <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= orders_path %>">Lista</a></li>
            <li><a href="<%= new_order_path %>">Novo</a></li>
            <li><%= link_to "Relatório", all_orders_path(format: 'xls') %></li>
          </ul>
        </li>
        <li><a href="<%= sales_path %>">Vendas</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuários <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= users_path %>">Lista</a></li>
            <li><a href="<%= new_user_path %>">Novo</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= profile_users_path %>">Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>

      </ul>
      <% end %>
      <% if !user_signed_in? %>
      <ul class="nav navbar-nav navbar-right countries">
        <li><%= link_to flag_icon(:br), locale: nil %></a></li>
        <li><%= link_to flag_icon(:us), locale: :en %></a></li>
      </ul>
      <% end %>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
