<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
  html, body {
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Helvetica;
    padding: 50px 0;
  }

  .box {
    width: 700px;
    background-color: #fff;
    min-height: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .box .logo {
    margin: 0 auto;
    width: 200px;
  }

  .box .logo img {
    width: 100%;
  }

  ul.social-icons {
    margin: 30px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }

  ul.social-icons li {
    display: inline-block;
    margin: 0 20px;
  }

  ul.social-icons li img {
    width: 25px;
    height: 25px;
  }

  .outbox {
    margin: 0 auto;
    width: 700px;
    color: #727272;
    font-size: 14px;
    text-align: center;
    padding-bottom: 50px;
  }

  .outbox a {
    color: #727272;
    font-weight: bold;
    text-decoration: none;
  }

  .box-content {
    padding: 50px;
  }

  .thanks {
    text-align: center;
    margin: 5px 0;
  }

  .subject {
    width: 100%;
    background-color: #ffc200;
    height: 50px;
  }

  .subject p {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
  }

  </style>
</head>

<body>
  <div class="box">
    <div class="logo">
      <%= image_tag("logo-casa.png") %>
    </div>
    <div class="subject">
      <p><%= @subject %></p>
    </div>
    <div class="box-content">
      <%= yield %>
    </div>
    <p class="thanks">Abraços,</p>
    <p class="thanks">Equipe #CASADE28</p>
  </div>
  <div class="outbox">


    <ul class="social-icons">
      <li><%= link_to image_tag("facebook_icon.png"), "https://www.facebook.com/casade28/", target: '_blank' %></li>
      <li><%= link_to image_tag("instagram_icon.png"), "https://www.instagram.com/casade28/", target: '_blank' %></li>
      <li><%= link_to image_tag("linkedin_icon.png"), "https://www.linkedin.com/company/casade28/", target: '_blank' %></li>
    </ul>
    <h4>Atendimento</h4>
    <p>Em caso de dúvidas, responda esse e-mail ou nos envie um e-mail para <a href="mailto:fale@casade28.com.br">fale@casade28.com.br</a></p>
    <p>Atendimento telefônico, de segunda à sexta, das 9h às 19h, através do telefone +55 (11) 3522-4440 </p>
    <p style="font-weight: bold"><a href="http://www.casade28.com.br/" target="_blank"><%= "#CASADE28 #{Date.today.year}" %></a></p>
  </div>
</body>
</html>
