<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <%= wicked_pdf_stylesheet_link_tag    'pdf' %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
