<div class="footer-pdf">
  <div class="row">
    <div class="col-xs-5 left">
      (11) 3522-4440 - fale@casade28.com.br
    </div>
    <div class="col-xs-2 center">
      www.<span><strong>CASA</strong>DE<strong>28</strong></span>.com.br
    </div>
    <div class="col-xs-5 right">
      Rua França Pinto, 926 - Vl. Mariana - São Paulo - SP - 04016-004
    </div>
  </div>
</div>
